<div class="header">
    <h2>on this topic</h2>
    <div class="pagetitle">
        <h1>{{content_type}}</h1>
    </div>
    <div class="rightmenu">

    </div>
</div>

<body>
    <div class="main">
            <!-- for each featured topic, place it in a list  -->
            {{{body}}}
        <div class="sidemenu">
            <!-- Place side menu here  -->
            <ul>
                <a href="/foryou">
                <img src = "/images/4u.png" >
                </a>
                
            </ul>
            <ul>
                <a href="/map">
                <img src = "/images/globe.png" ></a>
                
            </ul>
            <ul>
                <a href="/topics">
                <img src = "/images/hexagon.png" ></a>
                
            </ul>
            <ul>
                <a href="/people">
                <img src = "/images/people.png" ></a>
                
            </ul>
            <ul>
                <a href="/timeline">
                <img src = "/images/timeline.png" ></a>
                
            </ul>
            
        </div>
    </div>
</body>
