




<!-- show featured content    -->
<div class="main-content">
    <div class="blurb">
        <h3>Deep dive into one theme, place, or public figure</h3>
        <p>editor's choice:</p>
    </div>
    <div>
        <!-- for each featured topic, place it in a list  -->

        {{#each theme as |t|}}
            <div class="featured-content">
            <a href="themes/?theme={{t.themeName}}"><p class="topic">
                {{t.themeName}}
            </p>
            </a>
            <p class="blurb">
                {{t.blurb}}
            </p>
            <p class="stats">
                {{t.podcasts.length}} podcast episodes
            </p>
        </div>

        {{/each}}
        
    </div>
</div>