<div style="display: inline-block; width: 60%">
<h2>How to embed podcasts</h2>

<h3>The following sites have podcast embed options</h3>
<ul class="howto">
    <li><a href="https://www.podbean.com/all">Podbean</a></li>
    <li><a href="https://www.mixcloud.com/">Mixcloud</a></li>
    <li><a href="https://soundcloud.com/discover">SoundCloud</a></li>
    <li><a href="https://www.npr.org/podcasts/">NPR</a></li>
    <li><a href="https://open.spotify.com/genre/podcasts-page">Spotify</a></li>

</ul>
<h3>To embed a podcast, take the following steps:</h3>
<ol class="howto">
    <li>Go to the podcast you would like to embed</li>
    <li>Click the share link</li>
    <li>Select the embed link</li>
    <li>You would usually copy the whole code, but in the cast of this site, <br>
    the iframe is already generated for you</li>
    <li>Paste the iframe onto whichever topic is appropriate</li>
</ol>
</div>
