<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link href = "/css/main.css" type="text/css" rel = "stylesheet" >
        <link href = "/css/home.css" type="text/css" rel = "stylesheet" >
    </head>
    <body>
    
    <div class="head">
        <div class="site-title">
            <h1></h1>
            {{!-- <img class="site-title" src="/images/underline.png" alt=""> --}}
        </div>
        <div class="page-title">
            <h1 class="page-title"><a href="/">on this topic</a></h1>
        </div>
        <div class="menu"><img src = "/images/menu-button.gif" >
            <div class="account">
            <a href="/myaccount" class="side"><p class="account">my account</p></a>
            </div>
            <div class="account">
            <a href="/register" class="side"><p class="account">register</p></a>
            </div>
        </div>
    </div> 
    <div>
    {{{body}}}
          
        <div class="sidemenu-main">
                <!-- Place side menu here  -->
                <div class="side-menu-button">
                    <img class="button" src = "/images/globe.png" >
                     <a href="/map" class="side"><div class="centered"><h5 class="side"style="color: #8ccdb0;">map</h5></div></a>
                </div>
                <div class="side-menu-button">
                    <img class="button" src="/images/hexagon.png"  >
                    <a href="/themes" class="side"><div class="centered"><h5 class="side"style="color: #e8c161;">themes</h5></div></a>
                </div>
                <div class="side-menu-button">
                    <img  class="button" src="/images/elipsis.png">
                    
                    <a href="/people" class="side"><div class="centered"><h5 class="side" style="color: #e19e72;">people</h5></div></a>
                </div>
                <div class="side-menu-button">
                    <img  class="button" src="/images/timeline.png">
                    <a href="/timeline" class="side"><div class="centered"><h5 class="side">timeline</h5></div></a>
                </div>
        </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
</html>