
<script>
        siteTtl = document.querySelector('.page-title')
        pg = document.currentScript.getAttribute('page')
        siteTtl.innerHTML = `<h1 class="page-title"><a href="/timeline">timeline</a></h1>`
        pagelnk = document.querySelector('.site-title')
        pagelnk.textContent = `on this topic`
        pagelnk.innerHTML = `<a href="/"><h2>on this topic</h2></a>`
    </script>
{{timeline}}
