

    <div id='top-menu'>
        <header>
        <h1>on this topic</h1>
        </header>
        
    </div>
    <div id='top-menu-button'>
            <img id='top-menu' src = "/images/menu-button.gif" >
        </div>
<body>
    <div class="main">
            <h3>Deep dive into one theme, place, or public figure</h3>
            <h4>editor's choice</h4>

            <!-- for each featured topic, place it in a list  -->
            featured content goes here
            {{featured}}
        <div class="sidemenu">
            <!-- Place side menu here  -->
            <div class="button">
                
                <a href="/map">
                <img src = "/images/globe.png" ></a>
                
            </div>
            <div class="button">
                <a href="/topics">
                <img src = "/images/hexagon.png" >
                <div class="button-text"><h5>topix</h5></div>
                </a>
            </div>
            <div class="button">
                <a href="/people">
                <img src = "/images/elipsis.png" >
                <div class="button-text"><h5>people</h5></div>
                </a>
            </div>
            <div  class="button">
                <a href="/timeline">
                <img src = "/images/timeline.png" >
                <div class="button-text-timeline"><h5>timeline</h5></div>
                </a>
            </div>

        </div>
    </div>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FBrightmoments%2Fyou-are-awake%2F&amp;hide_cover=1&amp;light=1" frameborder="0"></iframe>

</body>

