<!DOCTYPE html>
<html>
    <head>
        <div class="head">
            <div class="site-title">
                
                {{!-- <img class="site-title" src="/images/underline.png" alt=""> --}}
            </div>
            <div class="page-title">
                <h1 class="page-title"><a href="/">on this topic</a></h1>
            </div>
            <div class="menu"><img src = "/images/menu-button.gif" >
                <div class="account">
                <a href="/signup" class="side"><p class="account">sign up/sign in</p></a>
                </div>
            </div>
        </div> 
    </head>
    <body >
        <link href = "/css/home.css" type="text/css" rel = "stylesheet" >

        <div  >
            <div class="main-content">
                <div class="blurb">
                    <h3>Deep dive into one theme, place, or public figure</h3>
                    <p>editor's choice:</p>
                </div>
                <div>
                <!-- for each featured topic, place it in a list  -->
                    <div class="featured-content">
                        <a href="themes/fear"><p class="topic">
                            on fear
                        </p>
                        </a>
                        <p class="blurb">
                            how fear works, and why it is such a big part of our lives
                        </p>
                        <p class="stats">
                            5 podcast episodes, 3 articles
                        </p>
                    </div>
                    <div class="featured-content">
                        <a href="themes/hope"><p class="topic">
                            on hope
                        </p>
                        </a>
                        <p class="blurb">
                            in dark times, what is it that gives us reason to not give up
                        </p>
                        <p class="stats">
                            7 podcast episodes, 3 articles, 1 playlist
                        </p>
                    </div>
                    <div class="featured-content">
                        <a href="places/nairobi">
                        <p class="topic">
                            on nairobi
                        </p>
                        </a>
                        <p class="blurb">
                            Kenya's capital holds beauty and voices that speak to what makes the city magical
                        </p>
                        <p class="stats">
                            9 podcast episodes, 5 articles, 2 playlists
                        </p>
                    </div>
                </div>
            </div>
            <div class="sidemenu-main">
                <!-- Place side menu here  -->
                <div class="side-menu-button">
                    <img class="button" src = "/images/globe.png" >
                     <div class="centered"><a href="/map" class="side"><h5>map</h5></a></div>
                </div>
                <div class="side-menu-button">
                    <img class="button" src="/images/hexagon.png"  >
                    <div class="centered"><a href="/themes" class="side"><h5>themes</h5></a></div>
                </div>
                <div class="side-menu-button">
                    <img  class="button" src="/images/elipsis.png">
                    <div class="centered"><a href="/people" class="side"><h5>people</h5></a></div>
                </div>
                <div class="side-menu-button">
                    <img  class="button" src="/images/timeline.png">
                    
                    <div class="button-text-timeline"><a href="/timeline" class="side"><h5>timeline</h5></a></div>
                    
                </div>

            </div>
        </div>
    </body>

</html>