<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
        <link href = "/css/main.css" type="text/css" rel = "stylesheet" >
        <link href = "/css/home.css" type="text/css" rel = "stylesheet" >
    </head>
    <body>
        
    {{{body}}}
          
        <div class="sidemenu-main">
                <!-- Place side menu here  -->
                <div class="side-menu-button">
                    <img class="button" src = "/images/globe.png" >
                     <div class="centered"><a href="/map" class="side"><h5>map</h5></a></div>
                </div>
                <div class="side-menu-button">
                    <img class="button" src="/images/hexagon.png"  >
                    <div class="centered"><a href="/themes" class="side"><h5>themes</h5></a></div>
                </div>
                <div class="side-menu-button">
                    <img  class="button" src="/images/elipsis.png">
                    
                    <div class="centered"><a href="/people" class="side"><h5>people</h5></a></div>
                </div>
                <div class="side-menu-button">
                    <img  class="button" src="/images/timeline.png">
                    
                    <div class="button-text-timeline"><a href="/timeline" class="side"><h5>timeline</h5></a></div>
                    
                </div>
        </div>
        <script src="/js/script.js"></script>
    </body>
</html>