<div class="header">
    <a href="/">
    <h2>on this topic</h2>
    </a>
    <div class="pagetitle">
        <h1>map</h1>
    </div>
    <div class="rightmenu">

    </div>
</div>

<body>
    <div class="main">
            <!-- for each featured topic, place it in a list  -->
            {{map}}
        <div class="sidemenu">
            <!-- Place side menu here  -->

            <div class="sidemenu">
            <!-- Place side menu here  -->
            <div class="button">
                <a href="/foryou">
                <img src = "/images/square.png" >
                <div class="button-text"><h5>for<br/>you</h5></div>
                </a>
            </div>
            
            <div class="button">   
                <a href="/map">
                <img src = "/images/globe.png" ></a>
            </div>

            <div class="button">
                <a href="/topics">
                <img src = "/images/hexagon.png" >
                <div class="button-text">topix</div>
                </a>
            </div>

            <div class="button">
                <a href="/people">
                <img src = "/images/elipsis.png" >
                <div class="button-text">people</div>
                </a>
            </div>

            <div  class="button">
                <a href="/timeline">
                <img src = "/images/timeline.png" >
                <div class="button-text-timeline">timeline</div>
                </a>
            </div>

        </div>
            
        </div>
    </div>
</body>
