<!DOCTYPE html>
<html>
    <head>
        <div class="head">
            <div class="site-title">
                <a href="/"><h2>on this topic</h2></a>
                {{!-- <img class="site-title" src="/images/underline.png" alt=""> --}}
            </div>
            <div class="page-title">
                <h1 class="page-title"></h1>
            </div>
            <div class="menu"><img src = "/images/menu-button.gif" >
                
            </div>
        </div>        {{!-- <hr> --}}
    </head>
    <body >
        <div class="page-title">
                <h1 class="page-title">sign up</h1>
        </div>
        <div class="signin">
            
                <form class="signin" action="/signup" method="POST">
                    <div class="frm">
                        <tr class="signin">
                            <td >Enter username:</td>
                            <td></label><input id="" type="text" name="username"></td>
                        </tr>
                    </div>
                    <br>
                    <div class="frm">
                        <tr class="signin">
                            <td >Enter assword:</td>
                            <td></label><input id="" type="password" name="password"></td>
                        </tr>
                    </div>
                    <br>
                    <div class="signinbtn">
                    <tr><td><button class="signinbtn" type="submit">Register</button></td></tr>
                    </div>
                </form>
            </div>
            <div class="signin">
                <p class="signin">Already have an account? </p>
                <a href="/signup"><h2 class="signin">sign in here</h2></a>
            </div>
            
        </div>
        
    </body>
</html>