
            <link href = "/css/themes.css" type="text/css" rel = "stylesheet" >

<div class="add-topic">
    <h2 class="page-title">Add Content to Theme</h2>
    <form class="signin" action="/signin" method="POST">
        <div class="entry" id=0>
            <div class="addBtn"></div>
            <div class="addContent">
                <p>Comma-Separated Embed Url:</p>
                <input id="" type="text" name="theme">
            </div>
            <div class="addBtn">
                    <img src="/images/plus.png" class="addBtn">
            </div>
        </div>
    </form>
    <button class="add" type="submit">Add</button>

</div>

        <div class="entry" id=1>
            <div class="addBtnMinus">
                <img src="/images/minus.png" class="addBtn">
            </div>
            <div class="addContent">
                <p>Comma-Separated Embed Url:</p>
                <input id="" type="text" name="theme">
            </div>
            <div class="addBtn">
                    <img src="/images/plus.png" class="addBtn">
            </div>
        </div>