

        <div class="site-title">
            <a href="/"><h2>on this topic</h2></a>
            {{!-- <img class="site-title" src="/images/underline.png" alt=""> --}}
        </div>
        <div class="page-title">
            <h1 class="page-title"><a href="/themes/hope">hope</a></h1>
        </div>
        <div class="menu"><img src = "/images/menu-button.gif" ></div>
            {{!-- <hr> --}}

        <div class="main-content">
            <!-- main page content  -->
            <div>
                    <div class="content-menu"><h4>podcasts</h4></div>
                    <div class="content-menu"><h4>articles</h4></div>
                    <div class="content-menu"><h4>music</h4></div>
            </div>
            <div >
                <div class="resources">

                    {{#each podcasts as |p|}}
                        <script link={{p.embed_link}}>
                            ifr = document.createElement('iframe')
                            ifr.src = document.currentScript.getAttribute('link')
                            parent = document.querySelector('.resources')
                            parent.appendChild(ifr)
                            console.log(ifr);
                        </script>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="notebook">
            <h5>contribute</h5>
            <form class="signin" action="/themes/hope" method="POST">
                <div class="frm">
                    <tr class="signin">
                        <td >Podcast Embed Url!!!</td>
                        <td></label><input id="" type="text" name="link" size="50" height="20"></td>
                    </tr>
                </div>
                <br>
                <div class="signinbtn">
                <tr><td><button class="signinbtn" type="submit">Add</button></td></tr>
                </div>
            </form>
        </div>
        <!--  Form to contribute to page -->
            
       