<html>
    <header>
        <div id="sitetitle">
            on this topic
        </div>
        
        <div id="topictitle">
        <!-- replace the topic with a variable that will be changed on each topic  -->
        <h1>on hope</h1>
        </div>
        <div id="topicmenu">
            <img id='top-menu' src = "/images/menu-button.gif" >
        </div>
    </header>
    <body>
        <form action="/topics/hope" method="POST">
        
        <tr>
            <td style="text-align: right;">Spotify Podcast Embed Url</td>
            <td></label><input id="" type="text" name="podcast_url"></td>
        </tr>
        <tr>
            <td style="text-align: right;">add tags</td>
            <td></label><input id="" type="text" name="tags"></td>
        </tr>
        <tr >
            <td style="text-align: right;">Notes</td>
            <td></label><input id="" type="text" name="notes"></td>
        </tr>
        <tr ><td></td><td ><input type="submit" value="Submit" style="background:yellow;"></td></tr>
    </form>
    {{#each podcasts as |pod|}}
                {{pod}}
    {{/each}}
    </body>
</html>