
h3{
    font-size: 125%;
    font-family: 'YesevaOne';
    color: #ffffff;
}
p{
    font-family: 'PlayfairDisplay-italics';
    font-size: 150%;
    color: #ffffff;
    text-align: left;
}
h5{
    font-family: 'Anaktoria';
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
}

h5.sort{
    display: inline;
    font-family: 'Anaktoria';
    font-size: 125%;
    color: rgba(255, 255, 255, 1);
}
h5.sort-option{
    display: inline;
    font-family: 'Anaktoria';
    font-size: 175%;
    color: #E8C161;
}
p.topic{
    font-family: 'Anaktoria';
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
p.blurb{
    font-family: "GlacialIndifference";
    color: whitesmoke;
    font-size: 100%;
    text-align: center;
}
p.stats{
    font-family: "GlacialIndifference";
    color: whitesmoke;
    font-size: 50%;
    text-align: center;
}



div.main-content{
    width: 80%;
    display: inline-block;
    margin: 1%;

}
div.featured-content{
    width: 30%;
    display: inline-block;
    border: 1px solid white;
}
div.blurb{
    width: auto;
    margin: 0px;
    text-align: left;
}
div.sidemenu-main{
    width: 12.5%;
    float: right;
    
}
img.button,div.centered:hover{
    cursor: url('/images/visited-link.png') 25 25,  pointer;
}
div.button {
    height: 10%;
    width: 30%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #E8C161;
    padding: 5px;
    margin: auto;

}
img.button{
    max-width: 60%;
    max-height: 80%;
    width:50%;
    height:15%;
}

.button-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-text-timeline{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.side-menu-button {
    position: relative;
    text-align: center;
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
  }
  
  h5.side{
    font-family: "AmaticSC-Regular";
    font-size: 125%;
    color: #7da97a;   
  }
  p.form{
    font-family: 'Anaktoria';
  }