
@font-face {
    font-family: "Anaktoria";
    src: url('fonts/anaktoria-textfonts/Anaktoria.ttf');
}
@font-face {
    font-family: "GlacialIndifference";
    src: url('fonts/glacial-indifference/GlacialIndifference-Bold.otf');
}
@font-face {
    font-family: "LeagueSpartan";
    src: url('fonts/league-spartan/LeagueSpartan-Bold.otf');
}
@font-face {
    font-family: "YesevaOne";
    src: url('fonts/yeseva-one/YesevaOne-Regular_v2.otf');
}
@font-face {
    font-family: 'PlayfairDisplay-italics';
    src: url('fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')
}
@font-face {
    font-family: "AmaticSC-Regular";
    src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf')
}
html{
    background-color: #072D60;
    padding: 2%;
    cursor: url('/images/cursor.png') 16 16,  pointer;
}

h1{
    font-family: 'LeagueSpartan';
    color: #E8C161;
}
h1.page-title{
    text-align: center;
    font-size: 400%;
    color: #E8C161;
}
.page-title a{
    color: #E8C161;
}
.page-title a:hover{
    text-decoration: overline;
}
h1.sideheading{
    font-size: 125%;
}
h2{
    font-family: 'LeagueSpartan';
    font-size: 175%;
    color: #E8C161;
}
h3{
    font-size: 150%;
    font-family: 'YesevaOne';
    color: #ffffff;
}
h4{
    font-family: 'PlayfairDisplay-italics';
    font-size: 200%;
    color: #ffffff;
}
h5{
    font-family: 'Anaktoria';
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
}
p.account{
    font-family: 'Anaktoria';
    font-size: 100%;
    color: rgba(255, 255, 255, 1);
    display: inline;
}
p.signin{
    font-family: 'Anaktoria';
    font-size: 125%;
    color: rgba(255, 255, 255, 1);
    display: inline;
}
/* .account h6{
    border:0.5px solid wheat;
} */
h2.signin{
    display: inline;
    font-size: 125%;
}
p{
    font-family: "GlacialIndifference";
    color: whitesmoke;
    text-align: center;
    margin: 5px;
}
p.temp{
    display: inline-block;
}
head~div{
    display: inline-block;
}
div.site-title{
    width: 15%;
    height: 10%;
    float: left;
}

div.main-site-title{
    width: 60%;
    height: 20%;
    float: left;
    text-align: center;
    
}
/* img.site-title{
    width: 30%;
    height: 70%;
    float: left;
    border: 1px solid wheat;
} */
div.page-title{
    width: 70%;
    display: inline-block;
}
div.menu{
    width: 10%;
    text-align: center;
    float: right;
}

div.account{
    border:0.5px solid wheat;
    text-align: center;
    margin-top: 10px;
}
hr{
    width: 90%;
    color: rgb(255, 188, 20);
    margin-bottom: 1%;
}
div.main-content{
    width: 70%;
    display: inline-block;
    margin: 1%;
}
div.resources{
    display: inline-block;
    width: 60%;
    margin: 1%;
}
div.resources-notes{
    margin: 1%;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.466);
}
div.sidemenu{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
div>img{
    width: 50%;
    height: 3%;
}
div.content-menu{
    width: 20%;
    height: 60px;
    border: 1.5px solid #8dcbda;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    display: inline-flex;
    justify-content: center;
}
iframe.content{
    margin: 5px;
}
iframe.ifr{
    width: 100%;
    height: 155px;
    border: 1px solid whitesmoke;
    border-radius: 1em 1em 1em 4em / 1em 1em 2em 1em;
    -moz-border-radius: 1em 2em 1em 2em
    / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 2em 2em 4em
    / 1em 1em 2em 1em;
    vertical-align: middle;
}
div.button {
    height: 16%;
    width: 60%;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #E8C161;
    padding: 5px;
}
img.button{
    max-width: 80%;
    max-height: 100%;
}
.button-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.notebook{
    display: inline-block;
    width: 35%;
    margin-top: 5px;
    height: 350px;
    border: 1px solid whitesmoke;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 4em 1em 4em
    / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em
    / 2em 1em 2em 1em;
}
div.add-podcast{
    border: 1px solid whitesmoke;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 4em 1em 4em
    / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em
    / 2em 1em 2em 1em;
}
div.podContent{
    display: inline-block;
    width: 70%;
}
#sidebyside{
    display: inline-block;
} 
#sitetitle{
    display: inline-block;
    height: 30px;
    width: 15%;
}
#topictitle{
    display: inline-block;
    height: 10px;
    width: 40%;
}
#top-menu-button img{
    padding-top: 40px;
    padding-right: 40px;
    height: 10px;
    width: 10%;
}
#top-menu{
    width: 70%;
    display: inline-block;
}
#top-menu-button{
    float: right;
}

.sidemenu img{
    height: 150px;
    width:150px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    padding: 0px 10px;
}


a:link{
    text-decoration: none;
    cursor: url('/images/cursor.png') 16 16,  pointer;
}
a:hover{
    color: deeppink;
    text-decoration: overline;
    cursor: url('/images/cursor.png')16 16,  pointer;
}
a:active{
    text-emphasis: none;
    background: url('/images/visited-link.png');
}
h1>a:visited{
    color: #E8C161;
}
a.side:hover{
    color:  deeppink;
    text-decoration: line-through;
    transition: border-bottom .2s, border-left .4s, border-top .6s, border-right .9s;
}

div.signin{
    width: 70%;
    display: inline-block;
    text-align: center;
}
div.frm{
    display: block;
    text-align: center;
    display: inline-block;
    padding: 10px;
}
div.signinbtn{
    font-family: 'Anaktoria';
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 10px;
    text-align: center;
}
    
form.signin{
    font-family: 'Anaktoria';
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
    display: inline;
}
.signin input{
    font-family: "GlacialIndifference";
    font-size: 100%;
    color: #E8C161;;
    background-color: #072D60;
    border: 1px solid wheat;
}
#addedContent{
    font-family: "GlacialIndifference";
    font-size: 100%;
    color: #E8C161;;
}
textarea.fill{

    font-family: "GlacialIndifference";
    font-size: 100%;
    color: #E8C161;;
    background-color: #072D60;
    border: 1px solid wheat;
}
button.signinbtn {
    font-family: 'Anaktoria';
    font-size: 150%;
    color: rgba(255, 255, 255, 1);
    padding      : 5px;
    background   : none;
    cursor: url('/images/cursor.png') 16 16,  pointer;
    border: 1px solid whitesmoke;
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius: 1em 4em 1em 4em
    / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em
    / 2em 1em 2em 1em;
    box-shadow: 0 0 2px 2px #555;
    
}
button.signinbtn:hover{
    background: #016ABC;

    color: rgb(250, 135, 135);

    border: 1px solid rgb(250, 135, 135);

    border-radius: 20px;

    box-shadow: 5px 5px 5px rgb(221, 109, 109);

    text-shadow:none;
    text-decoration: line-through;
}
input.inpt{
    width: 550px;
    height: 0px;
    margin: auto;
    position: relative;
}